header {
  background: #111;
  margin-bottom: 15px;
  height: 100%;
  width: 100%;
}

nav {
  position: relative;
  top: 10px;
  margin-bottom: 15px;
  width: 960px;
  text-align: center;
}

ul {
  display: inline;
}

li {
  color: #eee;
  display: inline-block;
  margin: 15px;
}

main {
  margin: auto;
  width: 1000px;
}

/* section {
  margin: 15px;
} */

section img {
  display: inline;
  margin: 15px 15px;
}

footer {
  /* full width background */
}