header {
  background: #111;
  margin-bottom: 15px;
  height: 100%;
  width: 100%;
}

nav {
  position: relative;
  top: 10px;
  text-align: center;
  line-height: 70px;
}

ul {
  display: inline;
}

li {
  color: #eee;
  display: inline-block;
  height: 70px;
  width: 190px;
}

main {
  margin: auto;
  width: 1000px;
}

section img {
  float: left;
  margin: 15px;
}

h2 {
  float: left;
  font-size: 24px;
  margin: 15px 0px 5px 15px;
}

p {
  display: inline-block;
  margin: 0px 0px 0px 15px;
  height: 320px;
  width: 450px;
  overflow: scroll;
}

button {
  margin: 10px 0px 0px 15px;
  height: 40px;
  width: 200px;
}

button:hover {
  background: #111;
  border: #111;
  color: #eee;
  transition-delay: 350ms;
}

footer {
  /* full width background */
}